<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=work+Sans:400,600">
<link href="css/styles.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<title>Navbar</title>
</head>

<body>

</body>
<header>
    <div class="container">

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </nav>
    </div>  
</header>